@import "fonts";

* {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
  font-family: "Prompt";
  user-select: none;
}

body {
  background: linear-gradient(140.4deg, #3c22b3 13.25%, #5908d3 79.4%);
}

body {
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

input {
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: 0;
}


.tweet,.emoji,.word,.twitter-device {
  transition: all 0.35s;
}
.flip-list-enter, .flip-list-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.2);
}
.flip-list-leave-active,.flip-list-leave-active  {
  position: absolute;
}